body {
    background-color: #a6dce6;
}

h1 {
    color: rgb(18, 1, 70);
    margin-left: 100px;
    text-shadow: 1px .5px 4px rgba(43, 205, 80, 0.6);
}

.container {
    width: 450px;
    height: 350px;
    background-color: #38a9d5;
    border-radius: 5%;
}

/*----------------------------------------------------------------------------------------------------------
        SELECT ALL SQUARES IN THE ARRAY
------------------------------------------------------------------------------------------------------*/
.container .squares:nth-child(-n+4) {
    background-image: url("../images/discord.png");
    color: #671111;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid black;
    cursor: pointer;
    transition: transform .5s ease-in-out;
}

/*---------------------------------------------------------------------------------------------
        SELECT ALL SQUARES PARAGRAPHS IN THE ARRAY
-----------------------------------------------------------------------------------------------*/
.squares:nth-child(-n+4) p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
    text-shadow: 2px 1px 4px rgba(34, 15, 15, 0.8);
}

/*--------------------------------------------------------------------------------------
        INDIVIDUALLY SELECT A SQUARE IN THE ARRAY
----------------------------------------------------------------------------------------*/
.squares:nth-child(1) {
    background: #100e91;
}

.squares:nth-child(2) {
    background: #70169a;
}

.squares:nth-child(3) {
    background: #c0660d;
}

.squares:nth-child(4) {
    background: #0c8e40;
}

/*----------------------------------------------------------------------------------------
        HOVER, TRANSLATE & TRANSFORM EFFECTS
-----------------------------------------------------------------------------------------*/
.container .squares:nth-child(-n+4):hover {
    background-image: url("../images/discord.png");
    transform: scale(.5);
    animation-name: race;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(2.5, .2, .3, 2);
}

.squares:nth-child(1):hover {
    background: #13b4ff;
}

.squares:nth-child(2):hover {
    background: #d861af;
}

.squares:nth-child(3):hover {
    background: #81205f;
}

.squares:nth-child(4):hover {
    background: #77b800;
}

/*----------------------------------------------------------------------------------------
        ANIMATION EFFECT
------------------------------------------------------------------------------------------*/
@keyframes race {
    0%, 100% {
        transform: translateY(0px);
        background-image: url("../images/discord.png")
    }
    50% {
        transform: translateY(330px);
    }
}