/* Style for the header section */
header {
  background-color: #ffffff;
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

header p {
  font-size: 24px;
  color: #02090d;
}

/* Style for the navigation links */
nav {
  background-color: #9be8e4;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
}

nav a:hover {
  background-color: #0a786a;
}

/* Style for the sections */
section {
  padding: 50px;
  background-color: #a0e5ee;
  margin-bottom: 20px;
}

section h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

section p {
  font-size: 18px;
  color: #052929;
  line-height: 1.5;
}

section img {
  max-width: 50%;
  height: auto;
  margin-bottom: inherit;
}

/* Style for the form */
form {
  margin-top: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

form input[type="text"], form input[type="email"], form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #b7dfea;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

form textarea {
  height: 150px;
}

form input[type="submit"] {
  background-color: #a0dbee;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #9de5e8;
}

/* Style for the footer section */
footer {
  background-color: #9be6f3;
  color: #0c0c10;
  text-align: center;
  padding: 20px;
}